body {
    background-color: #C5E0DC;
    color: #774F38;
    font-family: 'Space Mono', monospace;
    color: white;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#mainContainer {
    position: relative;
    display: inline-block;
    overflow:hidden;
    min-height: 680px;
}

.tile {
    width: 10px;
    height: 10px;
    margin: 0;
    float: left;
}

.rock {
    background-color: #542437;
}

.wall {
    background-color: #53777A;
}

.floor {
    background-color: #ECD078;
}

.counter li {
    float: left;
    font-family: "Lucida Console";
    font-size: 9px;
    text-align: center;
    padding-top: 2px;
    overflow: hidden;
    box-sizing: border-box;
}

#ver {
    width: 15px;
    float: left;
}

#hor {
    margin-left: 15px;
}

#hor li {
    border-right: 1px solid #C8C8A9;
}

#ver li {
    border-bottom: 1px solid #C8C8A9;
}

#uielements {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 20px;
    z-index: 99999;
}

.uielement {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}

.damageNotification {
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    transition: all 1s;
    animation-name: fadeout;
    animation-duration: 0.8s;
    display: flex;
    justify-content: center;
    width: 34px;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(-40%);
    }
}

.imagedependencies {
    display: none;
}

#layout {
    transition: all 0.8s;
}
